[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
torch = "*"
langchain = "*"
install = "*"
huggingface-hub = "*"
python-dotenv = "*"
tqdm = "*"
pipfile = "*"
transformers = "==4.22.2"
sentencepiece = "*"
protobuf = "==3.20.0"
xformers = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
